@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="col-xs-12 padding_none">
                <h2>Industries</h2>
                <div class="nav">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="#">8 Reasons to Choose Korea</a></li>
                        <li class="list-group-item"><a href="#">8 Reasons to Choose Korea</a></li>
                        <li class="list-group-item"><a href="#">8 Reasons to Choose Korea</a></li>
                        <li class="list-group-item"><a href="#">8 Reasons to Choose Korea</a></li>
                        <li class="list-group-item"><a href="#">8 Reasons to Choose Korea</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <h2>Parts and Materials</h2>
            <ol class="breadcrumb">
                <li><a href="#">Why Vietnam</a></li>
                <li><a href="#">8 Reasons to Choose Korea</a></li>
                <li class="active">Data</li>
            </ol>
        </div>
        <div class="col-sm-2">
            <div class="col-xs-12 padding_none">
                <h2>Side</h2>
                <div class="panel panel-default">
                    <div class="panel-heading">Title</div>
                    <div class="panel-body">
                        Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                        Aliquam in felis sit amet augue.
                    </div>
                </div>
                <hr>
                <div class="panel panel-default">
                    <div class="panel-heading">Title</div>
                    <div class="panel-body">Content here..</div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
