<div class="col-sm-4">
    <div class="col-xs-12 padding_none">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#map1" data-toggle="tab">IK News & Events</a></li>
            <li><a href="#map2" data-toggle="tab">Investment News</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="map1">
                <img class="img-responsive" src="~/content/img/banner/map1.jpg" />
            </div>
            <div class="tab-pane" id="map2">
                <img class="img-responsive" src="~/content/img/banner/map2.jpg" />
            </div>
        </div>
    </div>
</div>
