@using Invest.Services
@using Invest.Web.Framework
@using Extensions.String
@{
    var newsServices = new NewsServices();
    var news1 = newsServices.GetNewsByCategory(35, EngineContext.WorkingLanguage.Id, true).Select(n =>
             new NewsCategoryViewModel()
             {
                 Id = n.Id,
                 Title = n.Title,
                 Brief = n.Short
             }
            ).ToList();
    var news2 = newsServices.GetNewsByCategory(40, EngineContext.WorkingLanguage.Id, true).Select(n =>
    new NewsCategoryViewModel()
    {
        Id = n.Id,
        Title = n.Title,
        Brief = n.Short
    }
   ).ToList();
}
<div class="col-sm-4">
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <div class="panel panel-danger">
                <div class="panel-heading">Online Consulting</div>
                <ul class="list-group">
                    <li class="list-group-item">FDI business type requirements </li>
                    <li class="list-group-item">Selling online in Korea </li>
                    <li class="list-group-item">Investment in a restaurant </li>
                    <li class="list-group-item">Investment in a restaurant </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12 col-xs-12">
            <ul class="nav nav-tabs">
                <li class="active"><a class="btn-warning" href="#home" data-toggle="tab">IK News & Events</a></li>
                <li><a href="#profile" class="btn-info" data-toggle="tab">Investment News</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="home">
                    @CreateListNew(news1)
                </div>
                <div class="tab-pane" id="profile">
                    @CreateListNew(news2)
                </div>
            </div>
        </div>
    </div>
</div>
@helper CreateListNew(List<NewsCategoryViewModel> news)
{
    if (news != null && news.Count > 0)
    {
        <ul class="list-group">
            @for (var i = 0; i < news.Count(); i++)
            {
                <li class="list-group-item"><a href='@Url.Action("Index", "News", new { Name = news[i].Title.ConvertToUnSign(), Id = news[i].Id })'>@news[i].Title.ToStringCount(45)</a> </li>
            }
        </ul>
    }
}