@model IEnumerable<Invest.Core.Category>

<div class="navbar-collapse collapse" id="headmenu">
    <ul class="nav navbar-nav">
        @foreach (var item in Model)
        {
            <li><a>@item.Name</a></li>
        }
    </ul>

</div>