<div class="container" id="container">
    <hr />
    <div class="row">
        @Html.Partial("_boxLeft")
        @Html.Partial("_boxNewsContent")
       @Html.Partial("_boxRight")
    </div>
</div>
