@{
    ViewBag.Title = "Home Page";
}
<div class="container" id="container">
    <hr />
    <div class="row">
        <div class="col-sm-4">
            <div class="col-xs-12 padding_none">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <a href="#">
                            <img class="img-responsive" src="http://www.investkorea.org/publish/data/main/20140411/1404_SIC2.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <h4>Project One</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gr</p>
                    </div>

                </div>
            </div>
            <div class="col-xs-12 padding_none">
                <hr />
                <section class="slider">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <img src="http://www.investkorea.org/ikwork/iko/eng/com/images/graph1.jpg" />
                            </li>
                            <li>
                                <img src="http://www.investkorea.org/ikwork/iko/eng/com/images/graph2.jpg" />
                            </li>
                            <li>
                                <img src="http://www.investkorea.org/ikwork/iko/eng/com/images/graph3.jpg" />
                            </li>
                            <li>
                                <img src="http://www.investkorea.org/ikwork/iko/eng/com/images/graph4.jpg" />
                            </li>
                            <li>
                                <img src="http://www.investkorea.org/ikwork/iko/eng/com/images/graph5.jpg" />
                            </li>
                            <li>
                                <img src="http://www.investkorea.org/ikwork/iko/eng/com/images/graph6.jpg" />
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
        @Html.Partial("_boxNewsContent")
        <div class="col-sm-4">
            <div class="col-xs-12 padding_none">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#map1" data-toggle="tab">IK News & Events</a></li>
                    <li><a href="#map2" data-toggle="tab">Investment News</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="map1">
                        <img class="img-responsive" src="~/content/img/banner/map1.jpg" />
                    </div>
                    <div class="tab-pane" id="map2">
                        <img class="img-responsive" src="~/content/img/banner/map2.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
