<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!--Config Image Path-->
  <add key="netAdvImage_UploadPath" value="~/Content/Uploads/ImagesNews/" />
  <add key="netAdvImage_AllowedFileTypes" value=".gif, .jpg, .jpeg, .png, .bmp" />
  <add key="NewsImage_UploadPath" value="~/Content/Uploads/Images/News/" />
  <add key="SlideImage_UploadPath" value="~/Content/Uploads/Images/SliderBar/" />
  <add key="TmpImage_UploadPath" value="~/Content/Uploads/Images/Tmp/" />
</appSettings>