@model IEnumerable<Invest.Core.Language>
@{
    ViewBag.Title = "Control Language";
}

@Html.Partial("Breadcrumb", new Dictionary<string, string> { { @Resource("Language"), Url.Action("", "Language", new { area = "Admin" }, null) } })
<div class="row-fluid">
    <div class="box span12">
        <div class="box-header well">
            <h2>Manage Languages</h2>
        </div>
        <div class="box-content">
            @Html.Partial("PartialLanguage", Model)
        </div>
    </div>
</div>
@section ScriptCustom {

}