@model IEnumerable<LanguageResourceModel>
@{
    ViewBag.Title = "Resources";
}

@Html.Partial("Breadcrumb", new Dictionary<string, string> { { @Resource("Resources"), Url.Action("", "Language", new { area = "Admin" }, null) } })
<div class="row-fluid">
    <div class="box span12">
        <div class="box-header well">
            <h2>Manage Resources</h2>
        </div>
        <div class="box-content">
            @Html.Partial("_PartialResources", Model)
        </div>
    </div>
</div>

<style>
    .chzn-container .chzn-results .active-result {
        color: black;
        text-shadow: none;
    }
</style>

@section ScriptCustom {
    <!-- select or dropdown enhancer -->
    <script src="~/Content/js/jquery.chosen.min.js"></script>
    <script>
        $(document).ready(function () {
            //chosen - improves select
            $('[data-rel="chosen"],[rel="chosen"]').chosen();
        });
    </script>
}
