<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <a href="@Url.Content("~/")">
                    <img class="img-responsive" src="~/content/img/banner/logo.png">
                </a>
            </div>
            <div class="col-sm-8">
                <p>
                    <h3>Công ty Cổ phần Invest-VietNam</h3>
                    <div>
                        Ấp 3, Xã Long Hậu, Huyện Cần Giuộc, Tỉnh Long An<br>
                        Điện thoại: <a href="tel:+848 37818929">(08) 3781 8929</a> - <a href="tel:+848 3781 8929">(08) 3781 8929</a> - Fax: (08) 3781 8940<br>
                        Phòng Tiếp Thị Kinh Doanh: <a href="tel:+848 3937 559">(08) 3937 5599</a> &nbsp;<br>
                        Email: <a href="mailto:info@invest-vietnam">info@invest-vietnam</a>
                    </div>
                </p>
            </div>
        </div>
    </div>
</footer>