.container
{
    padding-left:0px;
    padding-right:0px;
}

.pull_right {
    float: right !important;
}

.pull_left {
    float: left !important;
}

.padding_none {
    padding: 0px;
}

body {
    padding: 0px;
}

.header-top {
    background-color: #464646;
    padding: 5px;
}
.list-inline li :hover
{
    color:white;
}

.list-inline span {
    padding-right: 5px;
}

.list-inline a {
    width: auto;
    height: auto;
    color: #c9c9c9;
    font-size: 12px;
    text-indent: 0;
    margin: 0 12px 0 0;
}

.btn-white {
    color: #c9c9c9;
    background-color: #595959;
    border-color: #595959;
}

#banner .col-xs-4 {
    padding: 0px;
}

#container .col-sm-6 {
    padding: 5px;
}

footer .col-sm-3 {
    border-right: 1px dotted #ccc;
}

.admin :hover {
    color: white;
}
